build
.idea
2019
2019-Research-Diary.tex
2019-Research-Diary.tmp
2019-Research-Diary.aux
2019-Research-Diary.bbl
2019-Research-Diary.bcf
2019-Research-Diary.blg
2019-Research-Diary.log
2019-Research-Diary.out
2019-Research-Diary.pdf
2019-Research-Diary.run.xml
library.bib
texput.log
